[2016-08-05 14:36] RichardLitt opened #1 "Move to Multiformats?"
Hey @dignifiedquire!

Thanks so much for this. As you may know, we recently created the [Multiformats](//github.com/multiformats) organization to be a home for all of the multiformats - multiaddr, multihash, etc. Would you be interested in moving this repository to that organization? You would still have admin rights on the repository, but it would be a part of a wider organization. This would mea

[2016-08-05 14:36] RichardLitt commented on #1
Unless you feel that Google's should be moved there, first? Or should it moved as well? Thoughts?

[2016-08-05 14:48] dignifiedquire commented on #1
Given that Googles is nowhere near as feature complete as this and hasn't been touched in a while, let's move this one :)

[2016-08-05 14:49] dignifiedquire commented on #1
Lost my access again :(

[2016-08-05 15:24] RichardLitt commented on #1
Fixed. We're all good?

[2016-08-06 04:47] jbenet commented on #1
Leave the google one where it is.

[2016-08-06 15:48] #1 closed

[2016-08-13 00:54] Ericson2314 opened #2 "Use trait object"
Same reasoning as https://github.com/multiformats/rust-multiaddr/issues/11

[2016-08-15 21:18] Ericson2314 commented on #2
Assume PR is good for this one too? Do you care about using unstable features? https://crates.io/crates/stack_dst/ is a clever way to make bounded trait objects to avoid allocations. I'd use this with a size big enough to accommodate the largest multihash in existance today. Unfortunately because it uses the `Unsize` magic trait, it requires unstable.

[2016-08-15 21:33] dignifiedquire commented on #2
yep same answer as in rust-multiaddr :)

I like to avoid them if possible to make it as easy as possible for everyone to use it, but if the reason is good enough I'm fine with using them.

This does look pretty neat, so I think I'm using it. If you do a PR though, could you please make sure to put a link to the instructions on how to use unstable features into the readme?

[2016-08-15 21:38] Ericson2314 commented on #2
@dignifiedquire now that I think more about it, it should be possible to make this an optional feature and always expose plain-old `Box<Multihash>`. Then everybody wins!

[2016-08-15 21:39] dignifiedquire commented on #2
Sweet, that sounds great :)

[2017-01-19 02:39] briansmith commented on #2
I don't think this can be extensible because it requires a central registry of hash function IDs. If it were extensible then two trait implementations might use the same hash function ID for different purposes.

[2017-01-26 19:23] dignifiedquire commented on #2
@briansmith what if the hash function list and the ids were extensible? Looking at the current implementation I'm unsure if the way I implemented HashTypes makes sense or not. Any input if there is a better rustful way to do it?

[2017-01-26 19:32] Ericson2314 commented on #2
@briansmith yeah ideally we'd use coherence and type-level nats, but then the instances would be orphans. So it's not real extensibility, but it's a step in the right direction.

IMO this is a fairly common issue with these "umbrella" formats, so I should open like an RFC issue for it---it would be nice to have a working example though before I write that however :).

[2017-01-29 05:33] briansmith commented on #2
Presumably the data format is intended to be interoperable across implementations. That means there needs to be a 1-to-1 mapping between algorithms and IDs. The only way to maintain a 1-to-1 mapping is either a central registry of some sort, AFAICT.

[2017-01-29 18:10] Ericson2314 commented on #2
@briansmith Think it would be nice if *only* the central registry was centralized, and everything else could be modular. Ideally coherence would be my implicit central registry.

[2017-02-06 16:49] maciejhirsz commented on #2
I think it would be easier to change `Hash` from enum to a trait, and store it internally as a static ref trait object:

[code]

The only problem here is that there needs to be a global list of all Algorithms, so you can register custom `Algorithm` implementations in Multihash. This could be done by using `lazy_static` to create a `RefCell<Vec<&'static Algorithm>>`, or even `RefCell<[&'static Algo

[2017-04-14 13:35] chpio commented on #2
im working on this right now:
https://ipfs.io/ipfs/QmbBivUVE9YjMk91wqEL4aN3jrSBczyiTt3eaENVER36ii/mf_multihash/

the structure in few words:
* there is a wrapper type for the hash and the algorithm (*Multihash* & *Algo*)
  * they are "real" structs
  * they are implementing necessary stuff like the *Eq* & *Hash* traits
* then there are the inner traits (*InnerMultihash* & *InnerAlgo*)
  * they are

[2017-12-26 13:22] ghost opened #22 "Blake2 support"
I was wondering about what it would take to add blake2 support. Presently it looks like the codes for blake hashes are u16, so other than adding the types + hashing, I'd need to change [this](https://github.com/multiformats/rust-multihash/blob/master/src/hashes.rs#L38) function signature and anything depending on it?

Anyway, this lib is something I really need, and I'm interested in helping out :

[2018-02-06 22:24] leavehouse opened #25 "No way to `encode` a digest directly?"
# Problem

If you have a hash digest `digest: &[u8]` and you want to `encode` that into multihash bytes, you're out of luck if you're using `rust-multihash` currently. This is because `encode` expects un-hashed data as input. Instead, you must do something like this manually:

[code]

In contrast, `go-multihash`'s `Encode` function does not hash your data for you, so you can directly pass in a dig

[2018-05-17 14:02] tomaka opened #28 "Publish a new version on crates.io"
@dignifiedquire Could you publish a new version of this crate on crates.io?

[2018-05-17 15:37] dignifiedquire commented on #28
released 0.8

On 17. May 2018, 16:02 +0200, Pierre Krieger <notifications@github.com>, wrote:

[2018-05-17 15:45] tomaka commented on #28
However 0.7.1 would have been much better since there is no breaking change, otherwise I have to update every single dependency.

[2018-09-29 14:54] ebkalderon opened #29 "Question about maintenance status"
I just stumbled across this crate after contributing to the `multihash` crate stored in [libp2p/rust-libp2p](https://github.com/libp2p/rust-libp2p/tree/master/misc/multihash). I know that the Multiformats project is part of the greater IPFS community, but so is libp2p. Both crates appear to have the same names and are developed by the same community, but are stored in separate places and the latte

[2018-09-29 16:27] tomaka commented on #29
The versions of `multiaddr` and `multihash` in rust-libp2p have been copy-pasted from the `multiaddr` and `multiformats` repositories. The reason is that we wanted to be able to make changes quickly without having to go through a separate review process.

[2018-09-29 16:41] ebkalderon commented on #29
That makes sense. Will the changes in the rust-libp2p version of `multihash` and `multiaddr` eventually make their way back into these repositories? Or is the intention that these implementations diverge permanently and the multiformat repositories be deprecated?

[2018-09-29 18:06] tomaka commented on #29
The plan is to submit the changes upstream once rust-libp2p is stable enough.

[2018-09-29 23:11] ebkalderon commented on #29
Sounds good. Thank you for clarifying the situation! I think we can close this issue now.

[2018-09-29 23:11] #29 closed

[2018-12-19 13:05] DonaldTsang opened #31 "skein support"
check references in https://github.com/niluxv/rust-crypto/pull/5/files and https://github.com/RustCrypto/hashes/pull/47/files

[2019-01-27 12:54] seamlik opened #32 "Remove the APIs for hashing and only do the encoding"
While I support #25 and #26 ,  wouldn't it be cleaner if this crate only handles Multihash itself and leaves the hashing logic to other crates? There are so many crates out there that can do hashing of all sorts, and one wouldn't want to include 2+ crates in the dependency graph for only one algorithm.

Right now this crate depends on other crates for SHA-1/2/3. Since the specification might even

[2019-06-05 20:03] bochaco commented on #32
I just try to start using this crate and was having issues when decoding a CID, and I just figured the problem is exactly that the multihash is hashing my sting rather than just prefixing it with hash-code and length, which I thought is what multihash specs defines, at least that's what I understood and saw happening with other implementations like JS that I've been using before, and I looked at G

[2019-06-20 13:07] dignifiedquire commented on #32
I think you are right, having the hashing functions in here makes life much harder than necessary. I think having the following in this crate makes more sense

[code]
Wi

[2019-06-20 14:23] dignifiedquire commented on #32
Thinking about it some more, most of the code in #30 is good, as the new `Multihash` and `MultihashRef` in there are mostly working like what I described above. I think a future step is just splitting the encoding functionality either into its own crate or behind a feature flag.

[2019-08-11 15:15] leeola commented on #22
Hello. @wjh did you ever get any traction on this? Any blockers worth mentioning?

[2019-09-06 14:09] dvc94ch opened #34 "murmur3 128 x64 support"
To implement hamt a murmur3 128bit x64 is required

[2020-02-15 14:43] rklaehn opened #46 "Explore using inline data storage"
The most common hashes are 32 bytes long. So with the additional data that gives 34 bytes. It seems inefficient to store such a small object on the heap with the associated overhead / pointer chasing / cache issues.

It would be possible to use an approach similar to https://crates.io/crates/smallvec and store hashes inline up to a certain size, and only store on the heap once the needed size is b

[2020-02-15 14:44] rklaehn commented on #46
Overall size would be 40 bytes, still smaller than the typical cache line size.

[2020-02-19 15:04] rklaehn opened #48 "Provide quickcheck arbitraries"
This would have to be behind an optional and off-by-default feature flag so you don't pay the price of the quickcheck dependency if you do not need it.

But arbitraries would be quite helpful for property based testing of more complex structures that use multihashes.

[2020-02-19 15:07] rklaehn opened #49 "Provide an Ord instance"
So a multihash and structs using a multihash, like rust-cid, can be used in ordered data structures.

In general, I prefer sorted data structures for more deterministic behaviour, unless the performance requirements absolutely mandate using a hashmap.

[2020-02-20 07:37] rklaehn commented on #48
Here is a little experiment how to add quickcheck arbitraries to a crate under a feature flag:
https://github.com/rklaehn/rust-feature-experiment

[2020-02-20 08:25] rklaehn commented on #49
https://github.com/multiformats/rust-multihash/pull/50

[2020-02-23 04:49] cyphar commented on #22
Blake2b and Blake2s are now supported (though only a few lengths are supported).

[2020-02-26 12:06] vmx commented on #49
#50 was merged.

[2020-02-26 12:06] #49 closed

[2020-02-26 12:06] vmx commented on #46
That improvement got merged.

[2020-02-26 12:06] #46 closed

[2020-02-26 12:08] vmx commented on #28
This ship has sailed!

[2020-02-26 12:08] #28 closed

[2020-02-26 12:47] vmx commented on #25
There is now a function called `multihash::wrap()` where you can encode a multihash from an existing digest.

[2020-02-26 12:47] #25 closed

[2020-02-26 12:48] vmx commented on #32
With the introduction of `multihash:wrap()` the create can do both, hashing and multihash encoding.

If it turns out to be a problem, we could split it into two crates. But for now I'll keep it a single one, hence closing this issue.

[2020-02-26 12:48] #32 closed

[2020-03-02 13:00] rklaehn opened #55 "Provide way to produce truncated hashes"
Multihash encodes the length of the hash separately to the hash. There is no way to produce e.g. a multihash that uses Sha2_256 but only stores 16 bytes of hash data.

There should be a method `truncate` that reduces the number of bytes of the hash that is stored. This is also needed to use multihash from rust-cid. The length parameter should be the number of hash payload bytes to retain.

Not sur

[2020-03-02 13:12] rklaehn commented on #55
I see that this can be implemented in terms of wrap, but I still think that it would be nice to have a dedicated method for this...

[2020-03-02 13:12] vmx commented on #55
There is a way, you can call `wrap()`.

Hence I don't know if there should be a `truncate()` method at all. In case there should be one, perhaps it would be one on digest creation time, something like `digest_truncated(data, length)`.

[2020-03-02 13:40] rklaehn commented on #55
I don't think there is a benefit in doing this at digest creation time, since you have to generate the full hash anyway. Having discovered wrap, this is more a convenience method than a necessity. The question is how common this use case is, and if a convenience method is warranted.

[2020-03-02 13:51] vmx commented on #55
My thoughts came from the opposite direction. I don't think there is a benefit doing the truncation outside the digest creation as you would create a digest anyway.

[2020-03-02 14:02] rklaehn commented on #55
I can see cases where you already have a multihash from somewhere and want to truncate it, or you have two multihashes with different lengths and want to check whether they could refer to the same data.

[2020-03-02 14:20] vmx commented on #55
I have to admit I'm not fully convinced of the use case. I'm also cautious about having a bigger public API surface.

To conclude: There currently is a way to create Multihashes with a truncated hash via `wrap()`. We could introduce a convenient methods, once it shows up as a repeated pattern.

I'm closing this issue for now.

[2020-03-02 14:20] #55 closed

[2020-03-03 08:30] #48 closed

[2020-03-03 08:31] rklaehn commented on #2
I guess this can be closed, since it is similar to what has been merged in the big refactor...

[2020-03-06 14:42] dvc94ch commented on #22
@vmx close?

[2020-03-06 14:43] vmx commented on #22
No, there are a lot of Blake2 variants, only a small subset is currently supported.

[2020-03-31 10:52] michaelvoronov opened #62 "Make multihash serializable with serde"
At now, we are using serde serialization/deserialization of structures that contain `libp2p::PeerId`. In its turn `PeerId` contains two `Multihash`es, and, finally, `Multihash` is based on top of the `Storage`. But `Storage` enum is only crate pub. Could you please make it pub?
Also for implementing serde traits [it needs](https://serde.rs/remote-derive.html) explicit setter/getter of storage fiel

[2020-03-31 11:16] vmx commented on #62
Making Multihash easily serializable with Serde certainly is a good idea.

Why do you need direct access to `Storage`? I hope we can keep it an implementation detail of `Multihash`. Couldn't you use the public API from Multihash like e.g. `as_bytes()`?

[2020-03-31 11:31] dignifiedquire commented on #62
It would be great to have a `serde` features on PeerId, Multihash and Cid allowing easy serializiation and deserialization, avoiding having to manually implement it

[2020-03-31 12:33] michaelvoronov commented on #62
@vmx Initially I think that it is impossible to implement external serde traits for external types through the orpha rule. But now I found [a way](https://gist.github.com/michaelvoronov/1e844b7f94c9aa88561cf8b94c3483ae) to it with the serde `with` feature. Thank you!

Btw, I agree, it would be nice to have the `serde` feature.

[2020-04-02 10:26] vmx commented on #2
This issue got solved with https://github.com/multiformats/rust-multihash/pull/60 you can now have your own code table, hence can extend things and you don't rely on a closed enum.

[2020-04-02 10:26] #2 closed

[2020-05-02 15:30] dvc94ch opened #64 "Should be a trait"
This is really all we care about for libipld currently, but we cant do `H::digest()` or `H::CODE` on a type that implements `MultihashDigest`.

[code]

[2020-05-03 17:16] vmx commented on #64
Thanks for the suggestion. I agree that the current API is not as nice as it could be. Though there is a reason why the `MultihashDigest` is what it is today. I deliberately decided (see https://github.com/multiformats/rust-multihash/pull/63#issuecomment-607931425 for more information) that I don't want to introduce another trait. I want to have a trait that also works for trait objects. The [`dig

[2020-05-03 17:22] dvc94ch commented on #64
but libp2p actually uses it in the same way, so it's costing both libipld and libp2p a heap allocation, for no reason

[2020-05-03 17:39] vmx commented on #64
IIRC, the usage in libp2p needs it to be a trait object. But I'll check again tomorrow.

[2020-05-03 17:53] dvc94ch commented on #64
No it just requires a digest function on code. That can be implemented without boxing it first

[2020-05-03 19:10] vmx commented on #64
Yes, it could be used without a trait. My idea was that custom code tables work with the whole ecosystem. This way every code table would also need to implement a `digest()` function. That might be OK for libp2p as it probably will never use a custom codec table. Though that's not true for IPLD.

[2020-05-03 19:48] dvc94ch commented on #64
So what we need is a different trait, a Code trait that includes a digest function?

[2020-05-03 19:50] dvc94ch commented on #64
In any case can you merge the cid pr and review the ipld pr? Then we can revisit the issue...

[2020-05-07 11:32] #64 closed

[2020-05-27 17:20] vmx commented on #22
I'm closing issues about adding new hash algorithms. It's clear that lots of them are missing. There is no point of having separate issues for them. Feel free to submit PRs if you need one implemented.

[2020-05-27 17:20] #22 closed

[2020-05-27 17:21] vmx commented on #31
I'm closing issues about adding new hash algorithms. It's clear that lots of them are missing. There is no point of having separate issues for them. Feel free to submit PRs if you need one implemented.

[2020-05-27 17:21] #31 closed

[2020-05-27 17:21] vmx commented on #34
I'm closing issues about adding new hash algorithms. It's clear that lots of them are missing. There is no point of having separate issues for them. Feel free to submit PRs if you need one implemented.

[2020-05-27 17:21] #34 closed

[2020-06-24 20:52] mrd0ll4r opened #70 "thread 'main' panicked at 'Should not occur as multihash is known to be valid'"
Hey, I'm processing a large number of CIDs and stumbled upon this:

[code]

This is the CID that triggers it:
[code]

This is the program:
[code]

[2020-06-26 13:06] mrd0ll4r commented on #70
Or maybe this issue belongs in the `cid` crate? It looks to me like neither the CID crate nor the multihash crate verify the algorithm "tag" (maybe wrong term), but I'm not sure where that check belongs.

Smallest reproducer:
[code]

I guess the easiest fix would be to implement double sha256 here, should I open a PR for that?

[2020-07-08 12:40] vmx commented on #70
Thanks for the bug report and sorry for the delay. I'll have a look. This really looks like a bug. Your detailed bug report should make it easy to fix that.

[2020-07-16 10:34] #70 closed

[2020-07-16 10:36] vmx commented on #70
@mrd0ll4r If you use the master branch, it should now return an error instead of panicking.

[2020-07-16 19:57] mriise opened #73 "use multibase for encoding/decoding"
[rust multibase](https://github.com/multiformats/rust-multibase) in tests, could also be a good opportunity to remove some of the brittleness of the tests.

[2020-07-16 21:22] mriise opened #75 "Fixing warn no-run -> no_run breaks BoxedMultihashDigest"
I can't say I'm too experienced with rust, but while playing around with this library I saw the warning:
```warning: unknown attribute `no-run`. Did you mean `no_run`?
  --> src\digests.rs:20:1```
and decided to fix, which then caused `cargo test` to fail at `src\digests.rs:24 BoxedMultihashDigest`.

Should code be added to the doc to fix compiler errors, or should `ignore` or `compile_fail` flags

[2020-07-17 07:51] vmx commented on #73
I don't quite understand what the core problem is that using multibase would help. You could see the current bytes as Base16 (Multibase Base16 without the prefix).

[2020-07-17 08:04] vmx commented on #73
In the context of #74 it makes sense. Using Multibase instead of a custom hex parser. I think for now using the hex crate is simpler than using Multibase.

[2020-07-17 08:30] vmx commented on #75
Thanks for reporting, I decided to use `ignore` and provide a fix right away at #76.

[2020-07-24 11:23] #75 closed

[2020-08-23 02:34] thenextman opened #79 "Make CC dependency a (default?) feature"
v0.11.3 caused some difficulties for us due to, on some targets, the `blake3` dependency using `cc` to compile intrinsics.

We maintain a complex cross-platform project that we build for Windows/macOS/Linux/Android/iOS where all C/C++ dependencies are prebuilt and packaged through conan.io packages with strict compilation options. With this in mind, we try to enforce builds where the "cc" crate is

[2020-08-24 09:45] mriise commented on #79
Are you asking more to have blake3 be an optional feature, or to have specific CC dependencies as the title suggests?

I'm willing to make another PR to setup blake3 as an optional dependency but would prefer to wait to see where the [rewrite](https://github.com/multiformats/rust-multihash/pull/69) is headed and work from there.

[2020-08-24 10:43] vmx commented on #79
@mriise The rewrite still takes a while (as I'm too busy with other things). I like your idea of having blake3 as an optional feature, that should unblock @thenextman. I could do a v0.11.4 release with it.

[2020-08-24 15:50] thenextman commented on #79
@mriise Having blake3 as an optional feature would unblock things for us and be appreciated, like @vmx said. Ultimately, we can't build C "on the fly" like that - I would expect the same is true for anyone building cross-platform C projects of certain complexity, because there's no "one size fits all" with build processes and compilation options. Sorry if my issue title was not very clear :)

[2020-08-26 07:35] mriise commented on #79
I'll see what i can do, as i'm not terribly familiar with macros.
As a side note, (and from what i currently understand about macros) it would be easy to setup each algorithm (or family) as its own feature, with the default being all, but people could list out the algorithms they need and the others would be excluded.
although that may be just be unneeded feature bloat.

[2020-08-26 09:06] vmx commented on #79
This is what tiny-multihash is doing (which is what likely will go upstream). Though for now I'd just restrict it to blake3 to unblock @thenextman.

[2020-08-27 10:32] #79 closed

[2020-09-27 00:40] mriise commented on #73
using multibase in tests actually doesn't have much of a point, as its a test of multihash, not multihash _and_ multibase. hex just fine for validating functionality.

[2020-09-27 00:40] #73 closed

[2020-10-08 10:04] vmx commented on #62
Multihash is now serializable with Serde (it's not released yet, but it's available on `HEAD`.

[2020-10-08 10:04] #62 closed

[2020-10-11 01:12] mriise commented on #79
As a side note,
It bothered me that Blake3 was trying to compile C in the first place, after a bit more looking around, it turns out you can force the rust only implementation by using the "pure" feature.

[2020-12-19 14:43] mzabaluev opened #95 "WriteHasher is unusable"
multihash 0.13 has introduced `WriteHasher` as a newtype wrapper to provide a generic implementation of `Write` for all hashers.
However, the crate provides no way to construct an instance of `WriteHasher` or obtain a digest from the hasher state.

[2021-01-18 14:50] #95 closed

[2021-03-25 17:20] rklaehn opened #114 "Use const generics"
They are finally there: https://blog.rust-lang.org/2021/03/25/Rust-1.51.0.html

Should help a lot with the very verbose types we currently use...

[2021-03-29 02:03] mriise commented on #114
would changing the API to look more like

[code]

be the right move for this or do we keep tables the way they are, and maybe just add this on top of what we have @vmx

[2021-03-29 09:54] vmx commented on #114
I haven't thought about this yet. My intuition is that I probably would keep things as they are and just doing a move to const generics. A next step would then be to improve/change the API if it makes sense. Though as I haven't looked at it, it might also make sense to do it at once.

@mriise If you're happy to take comments, feel free to PR whatever you currently have and then we can discuss deta

[2021-05-03 18:28] mriise opened #121 "Heap allocation for large hashes"
An implementation using https://docs.rs/smallvec/1.6.1/smallvec/struct.SmallVec.html would allow for us to keep stack allocating for smaller sizes, but easily enough spill onto heap if the hash is bigger than the specified allocated size.

The question is would `alloc_size` still be a hard limit with this, or the just the allocated stack size with whatever `usize` is to limit heap?

This should be

[2021-05-03 18:38] rklaehn commented on #121
We had a similar thing some time ago. It would stack allocate up to a certain size, then spill on the heap.

The reason for the current approach is that it allows a multihash to be `Copy`, which is very useful for both performance and eliminating boilerplate.

[2021-05-03 19:23] dvc94ch commented on #121
@mriise what use case do you have for large hashes?

[2021-05-05 09:44] rklaehn commented on #121
The max size of a Multihash is already configurable via the Size parameter. This will be a bit nicer once we fully integrate const generics.

So if you frequently deal with multihashes of a large size, let's say 1024, you can just configure it via the type parameter.

The only case where this is wasteful is if your typical multihash is small (32 bytes) and occasionally you get a very large multiha

[2021-05-10 11:12] vmx commented on #121
I'd consider arbitrary sized Multihashes a special case. Usually fixed sized ones should be good enough.

In case you have the use case, e.g. you want to store large identity hashes in IPFS (which I don't recommend, but one might do), you could use a library that does heap allocations. So perhaps (I'm really not sure about it) it would make sense to also have a separate Multihash implementation th

[2021-06-08 04:41] #121 closed

[2021-06-08 04:46] mriise opened #129 "Wrapping a static array"
[code]
or something along those lines...
I have more reading to do following const generic evaluations.

[2021-06-10 12:59] vmx opened #130 "Support arbitrary Blake3 sizes"
In rust-multihash the digests are generic over their size. It should be possible to support arbitrarily sized Blake3 hashes. Currently the code will panic if you try a size differently from 256 bits.

[2021-06-11 19:13] mriise opened #131 "Associated constant generic as parameter of `StatefulHasher`"
Not being able to have it as associate constant in current stable Rust sucks :-/

I guess we leave it like that then, until it;s possible in stable Rust? What do others think?

_Originally posted by @vmx in https://github.com/multiformats/rust-multihash/pull/116#discussion_r649791982_

[2021-06-11 19:17] mriise commented on #131
Wait for `const_generic` to be more stabilized to support this
[code]

[2021-09-28 16:16] CBenoit opened #141 "No elegent way to stream hash given a hash code"
Hi,

In previous `multihash` version, we used to be able to compute the digest in a streamed manner using [`MultihashDigest::input`](https://docs.rs/multihash/0.11.4/multihash/trait.MultihashDigest.html#tymethod.input) and it was possible to get [a boxed MultihashDigest given a multihash](https://docs.rs/multihash/0.11.4/multihash/type.BoxedMultihashDigest.html).
I currently see no way of doing th

[2021-09-28 23:51] mriise commented on #141
It is a bit confusing as both Hasher and StatefulHasher implement Default, but you are explicit about what you want Rust will give it to you.
[code]
hopefully this works for you :)

[2021-09-29 13:24] CBenoit commented on #141
Hi,

Thank you for the answer, but this is not what I’m looking for.
I need to get a hasher from a hash code I can’t know ahead of time (see my snippet above).

[2021-09-30 09:41] vmx commented on #141
I had a look. I currently see no way of doing it with the current code. The way things currently work, you cannot return a `StatefulHasher` based on the `Code`, as the `StatefulHasher`s depend on specific `Digest`s (please correct me if I'm wrong).

I've one idea though. Lots of the code is generated. So perhaps we could generate a companion struct to the `Code` enum, which implements the `Statefu

[2021-09-30 12:49] CBenoit commented on #141
Exact!

This would be really helpful!
However, it might not be very straightforward because `StatefulHasher` has associated types and implementing structs are using different types (because different digest size).

[2021-09-30 13:16] vmx commented on #141
When you derive a `Mutlihash` via `#[derive(Multihash)]`, all digests should have the same size. So at least that part should work (others may not ;)

[2021-10-14 20:02] johnchandlerburnham opened #144 "Merging work from yatima-inc/sp-multihash"
Hi, I talked briefly to @Stebalien about merging some of  the work from our https://github.com/yatima-inc/sp-multihash no_std fork. Happy to send PRs, but wanted to ask a few questions first:

1. Const-Generics:`sp-multihash` is on rust 1.54-nightly, so we were able to adapt @mriise's excellent #116. It looks like you guys are waiting on https://github.com/rust-lang/rust/issues/44265 hitting stabl

[2021-10-14 22:30] mriise commented on #144
`#[cfg(feature = "std")]` and `#[cfg(not(feature = "std"))]` can be placed pretty much anywhere if I understood what 3 was asking

[2021-10-15 00:43] johnchandlerburnham commented on #144
Okay, it's sounding like we should focus on sending PRs for ByteCursor and Nix, and waiting on `const-generics`. We'll get to work on PRs for those two.

To clarify the double negative, you mean we should depend on sp-std or we should not, and use core, alloc, etc directly instead?

Doing the `std::io` traits in bytecursor itself is a good idea, I'll look into that.

[2021-10-16 03:54] mriise commented on #144
I think it might be good to use an implementation already made for using read/write in no_std enviornments

[this one seems goood](https://docs.rs/core2/0.3.2/core2/) and has const generic support

[this one is is auto generated](https://github.com/jethrogb/rust-core_io)

[2021-10-30 00:39] mriise commented on #129
no

[2021-10-30 00:39] #129 closed

[2021-10-30 00:40] #131 closed

[2021-11-06 16:59] mriise opened #157 "Multihashes can be formed with incorrect sizes"
If a multihash is read from bytes, there are no checks to assert that the code and size read match, so the below pseudo code can be read from bytes and sent along as if it were correct.
[code]
along with some other variations

[2021-11-06 17:03] mriise commented on #157
The fix would be to assert the size read from the varint matches with the expected size from the code. From there, the correct amount of bytes should be read life can continue normally. There may be some other spots where the digest size should be double checked, but I have not read that far into this yet.

[2021-11-08 15:22] Stebalien commented on #157
This is a feature, not a bug. "size 10 SHA2_512" means a SHA2_512 hash truncated to 10 bytes.

I guess we _could_ verify that the user doesn't specify a codec with _more_ bytes than possible, but there isn't really much value in that.

[2022-01-12 19:03] fishseabowl opened #175 "Help: How to use serde(Serialize, Deserialize) on multihash?"
I search the previous issue: Make multihash serializable with serde #62. And I got: Multihash is now serializable with Serde (it's not released yet, but it's available on HEAD.

I still don't know how to do it.

Could you help provide some codes how to use serde on multihash?

[2022-01-12 21:27] vmx commented on #175
Have you enabled the `serde-codec` feature?

[2022-01-12 21:48] fishseabowl commented on #175
Got it. Thanks

[2022-01-12 21:48] #175 closed

[2022-01-27 09:19] #157 closed

[2022-01-27 11:07] #114 closed

[2022-01-27 11:24] vmx opened #179 "Using RustCrypto `Digest` trait directly"
Most hashers implement [RustCrypto's `Digest` trait](https://crates.io/crates/digest). Once https://github.com/RustCrypto/hashes/pull/228 lands all hashers except for `strobe` implement the `Digest` trait. We could then think about using the `Digest` trait directly instead of having our own custom hashers defined. Probably we would still export some type aliases for convenience/backwards compatibi

[2022-01-29 21:07] dignifiedquire opened #180 "Missing serde support for `Code`"
Is this on purpose, or simply not yet added?

[2022-01-31 22:56] #180 closed

[2022-02-02 10:14] vmx commented on #144
@samuelburnham I think with the 0.16 release we have incorporated everything from your work on sp-multihash. If something is missing, please open an issue or re-open this one.

[2022-02-02 10:14] #144 closed

[2022-02-02 20:25] mriise commented on #130
#156 solves part of this, as the hasher `Blake3<S>` is exposed, though going through the table doesn't work as the proc macro expects a type without a generic.

[2022-03-10 23:19] Stebalien opened #194 "Remove `Code::Identity` support"
1. The feature is technically opt in, but features are _unified_ so the entire program will be "opted in" to supporting identity hashes if any component needs to support them.
2. It's _ridiculously_ easy to end up panicing based on user inputs.

Possible solutions:

1. Make `Code::digest` return a result. This is likely a non-starter due to mass breakage and the number of `unwraps` it would introd

[2022-03-10 23:19] Stebalien commented on #194
cc @dignifiedquire @vmx

[2022-03-11 09:44] vmx commented on #194
The with removing the `identity` feature is that libp2p (https://github.com/libp2p/rust-libp2p/blob/5291011c73f8eaf44b3ba4ada873d888ff26e703/core/Cargo.toml#L26) and Forest (https://github.com/ChainSafe/forest/blob/e708777ff6d28aa08ff47560cd62212dfe2fbbb7/node/forest_libp2p/Cargo.toml#L24) are using it atm.

[2022-03-11 09:47] vmx commented on #194
My expectations for "power users" like the FVM were, that you wouldn't rely on the default code table, but you would create your own one, specific to the project. For example the default table is using 64 bytes allocations, I guess for the FVM 32 bytes would be enough.

[2022-03-12 08:20] mriise commented on #194
I think it mostly comes down to how its expected to behave, if its supposed full to copy everything into itself, then thats not something that you are able to implement without allocating. (this does not fit in well the design of this crate)

if the expectation is that it copies as much as it can, we can truncate anything that doesnt fit inside of the the const sized array.
its a simple fix if you

[2022-03-14 09:57] vmx commented on #194
To me the usual use case, that also [libp2p is using](https://github.com/libp2p/rust-libp2p/blob/96103ee590b60d5c7ed7ca5253a7f7ddd802ce76/core/src/peer_id.rs#L60-L66) is "is the data smaller than a certain size, use the data directly, else hash it". In that case you always check the size and can be sure it fits into your `Cid`.

The identity hash is something that needs to be used with care, hence

[2022-03-14 15:49] Stebalien commented on #194
Sure, but in that case, one could just call `Multihash::wrap(0, ...)`.

Unfortunately, feature flags are additive. That's what makes this so dangerous.

[2022-03-25 11:51] mxinden opened #197 "Cargo.toml: Consider building docs with all features"
Consider adding the below to your `Cargo.toml` to have all features documented on `docs.rs`:

[code]

https://github.com/libp2p/rust-libp2p/blob/6cc3b4ec52c922bfcf562a29b5805c3150e37c75/Cargo.toml#L68-L69

This might be a deliberate choice. Feel free to ignore.

[2022-04-05 20:36] mriise opened #203 "Copy slice instead of iterating in `wrap()`"
https://github.com/multiformats/rust-multihash/blob/c68638c9736284d0e52aacdcfc606e1d746db9ec/src/multihash.rs#L108
This will stay open till https://github.com/rust-lang/rust/issues/57349
`digest.copy_from_slice(input_digest);`

[2022-05-03 22:00] lizelive opened #209 "schemars support"
add support for [schemars](https://lib.rs/crates/schemars) to allow people to allow people to generate json schemas / swagger

[2022-05-16 20:40] hummingly opened #213 "Panic on size being smaller than default"
I was looking through the source code and found this for the `Blake3Hasher.finalize()` method.

https://github.com/multiformats/rust-multihash/blob/f1d20e94a0341d0982beb22df37c29d43ace6eb2/src/hasher_impl.rs#L124

This will always panic if `S` is less than 32 and the same line of code appears for other hasher implementations too. The fix would be to compute the minimum length and use that to creat

[2022-05-18 09:10] vmx commented on #213
I don't think it would panic, but I might miss something.

So let's say `S` is 16 and `digest_bytes.len()` is 32. Then `digest_bytes.len().max(S)` would be 32.

So `Blake3Hasher.finalize()` makes sure that the returned value has at least `S` bytes, but maybe more. Then later, when the hash is used (that mostly happens in the `multihash-derive` crate), the result goes through `Multihash::wrap()`, w

[2022-05-18 20:04] hummingly commented on #213
My code looks like that where DIGEST_SIZE is 32 right now.

[code]

However, if I were to set it to something smaller than the default digest size (32), it will panic. The reason is an out of bounds indexing error due the array `digest` in the `Blake3Hasher` struct as I explained in the previous comment.

https://github.com/multiformats/rust-multihash/blob/f1d20e94a0341d0982beb22df37c29d43ace6eb2/

[2022-05-18 22:57] mriise commented on #213
Blake3 was originally intended to be flexible like this, but some implementation details had kept me away at the time but has since been fixed. see #130
The Code table being generic over Blake Digest sizes is still something to be solved, either through more proc macro magic or new const generic things.

[2022-05-19 22:22] #213 closed

[2022-05-19 22:25] mriise commented on #213
quick note for transparency, this was a bit more broken than this issue mentions, since the digest returned by blake3 was only 32 bytes, anything bigger would've been filled with `0`s

...fun

[2022-07-05 18:27] mriise opened #220 "Add getter for inner array"
We have `fn digest(&self) -> &[u8` though it is helpful to also have `fn digest_arr(&self) -> [u8; S]` for `Multihash`

[code]

[2022-07-05 18:39] vmx commented on #220
What would it be used for it? Wouldn't you always want it trimmed to the actual size of the digest, hence use `digest()`?

[2022-07-07 17:09] mriise commented on #220
The idea was more to allow for moving of the underlying data which requires `Sized`, though if you are moving it would me more like adding an `fn into_inner` instead

[2022-07-08 08:28] vmx commented on #220
A `into_inner` could make sense. Generally spoken I'm a fan of keeping an API as small as possible and only adding things when really needed (this might be the case here). And also I like not exposing internals, which I consider the internal array to be.

[2022-08-03 20:56] Stebalien opened #225 "Implement ripemd160"
Code: 0x1053

This hash function is used in Ethereum, Bitcoin, etc. Specifically, I need support for this hash function in the FVM.

[2022-08-03 21:03] mriise commented on #225
likely https://docs.rs/ripemd/0.1.1/ripemd/ or https://docs.rs/cryptoxide/0.4.2/cryptoxide/ (maybe https://docs.rs/bitcoin_hashes/0.11.0/bitcoin_hashes/ ?)

[2022-08-03 21:04] mriise commented on #225
i would prefer ripemd since it is part of RustCrypto and is more likely to stay maintained https://github.com/RustCrypto/hashes/tree/master/ripemd

[2022-08-03 21:45] Stebalien commented on #225
Yeah, the RustCrypto one seems like the best choice. It also targets WASM.

[2022-08-09 20:06] mriise opened #227 "CI tries to run `fmt` with unstable feature and will always fail"
https://github.com/multiformats/rust-multihash/commit/6235d260e7e95a51fdf697940fda0b02eb9e9434 was intended to be a PR (sorry...)

the alternative is to disable unstable `format_code_in_doc_comments`, which I am also ok with

comments @vmx?

[2022-08-10 08:46] vmx commented on #227
I cannot reproduce it, hence I've opened a PR to revert that change at https://github.com/multiformats/rust-multihash/pull/228.

The CI is still green and if I add wrong formatting it correctly fails: https://github.com/multiformats/rust-multihash/runs/7762560203?check_suite_focus=true

[2022-08-10 16:26] mriise commented on #227
hm, it must've been an a user issue...

[2022-08-10 16:26] #227 closed

[2022-08-10 17:09] #225 closed

[2022-08-11 11:49] #220 closed

[2022-11-10 12:50] vmx opened #247 "Nix build is currently broken"
Currently the nix instructions are broken, likely due to using an arbitrary nightly version of Rust.

@Anderssorby @samuelburnham you were involved in setting it up. Could you please have a look?

[2022-11-10 13:51] Anderssorby commented on #247
I recommend switching to using fenix.

[2022-11-10 15:24] vmx commented on #247
How much trouble would it be to have the Cargo.lock and nix information outside the repo? To me it would make things easier without them, but I also don't want the lives of people caring about nix harder.

[2022-11-11 08:15] Anderssorby commented on #247
It would be a lot of trouble if using nixos which expects declarative environments. Nix-cargo-integration is another option.

[2022-11-14 10:54] mxinden opened #248 "Maintain a CHANGELOG.md"
As a downstream user, it would be very helpful to have a changelog for each release. A changelog would allow downstream users to quickly understand the impact of an update like https://github.com/multiformats/rust-multiaddr/pull/63.

I don't have a strong opinion on a format, though favor https://keepachangelog.com/ for the sake of consistency with other projects.

Would this be an option for this

[2022-11-14 11:15] vmx commented on #248
Yes, it surely would make sense. Given that we (mostly) follow https://www.conventionalcommits.org/en/v1.0.0/, we could even auto-generate one and clean it up before committing. I can only speak for myself, but this didn't happen in the past as I hardly even found the time to do minimal maintenance on this library.

[2022-11-22 23:46] BigLep commented on #203
@mriise : will you take this?

[2022-11-23 10:36] vmx commented on #203
@BigLep: this issue will likely stay open until the linked Rust issue if fixed (can be years).